$theme-red: #f03b00;
$theme-gray: #a39d9d;
$them-black: #161513;




$primary: #1639f7;
$primary-light: #7084f2;
$secoundry: #fd9300;

$secoundry-light: #ebb468;
$black: #050505;
$gray: #383333;
$gray-light: #7e7070;
$light: #fafafa;
$white: white;
$text-40: 40px;
$text-35: 35px;
$text-25: 25px;
$text-30: 30px;

$text-20: 20px;
$text-15: 15px;
$text-18: 18px;
$text-14: 14px;
$text-18: 18px;
$text-12: 12px;
$text-10: 10px;
$font-wb: 900;
$font-wm: 600;
$font-wr: 500;
$font-wl: 300;
$d-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$d-shadow-h: 1px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 2px rgba(0, 0, 0, 0.22);
$btn-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$btn-shadow-h: 1px 3px 5px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.22);
